doctype html
html
  head
    title
  body
    .footer
      hr
      | &#x9;&#x9;
      span Copyright &#x24D2; 2018 &#xC791;&#xC740;&#xC0AC;&#xD68C;. &#xB300;&#xD45C;&#xC790; &#xC774;&#xC0C1;&#xD5CC;. All rights reserverd. 
      span
        a(href='#') &#xD68C;&#xC0AC;&#xC815;&#xAD00;
        |  | 
        a(href='#') &#xD68C;&#xC6D0;&#xADDC;&#xCE59;
