nav.navbar
    .logo
      a(href='/')
        img(src='images/black.png', width='100px')
    | &#x9;    
    ul.order.index_ul
      li.index_li
        a(href='/introduce') &#xC18C;&#xAC1C;
      | &#x9;        
      li.index_li
        a(href='/bookclub') &#xC791;&#xC740;&#xBAA8;&#xC784;
      | &#x9;        
      li.index_li
        a(href='/information') &#xC791;&#xC740;&#xC18C;&#xC2DD;
      | &#x9;        
      li.index_li
        a(href='/apply') &#xC9C0;&#xC6D0;&#xD558;&#xAE30;