extends layout

block content
  doctype html
  html
    head
      title
      | &#x9;
      meta(charset='utf-8')
      | &#x9;
    body
      p.information_p &#xC791;&#xC740;&#xC18C;&#xC2DD;
      | &#x9;
      p.incruit_text &#xC120;&#xBC1C;&#xACF5;&#xACE0;
      | &#x9;
      .incruits
        .sections
          .section
            img(src='images/videoteam.png', width='251px', height='227px')
            | &#x9;&#x9;&#x9;&#x9;
            .section_text
              p.text_title &#xAD11;&#xACE0;&#xC601;&#xC0C1;&#xD300;
              p.text_main
                | &#xAD11;&#xACE0;&#xC74C;&#xC545;(&#xC791;&#xACE1;/&#xD3B8;&#xACE1;),
                br
                | &#xAD11;&#xACE0;&#xC601;&#xC0C1;(&#xCD2C;&#xC601;/&#xD3B8;&#xC9D1;) &#xD30C;&#xD2B8; &#xBAA8;&#xC9D1;
              p.month 2018.04 ~ 
              p.deadline &#xB9C8;&#xAC10; 00&#xC77C;&#xC804;
          | &#x9;&#x9;&#x9;
          .section
            img(src='images/webteam.png', width='251px', height='227px')
            | &#x9;&#x9;&#x9;&#x9;
            .section_text
              p.text_title &#xC6F9;&#xAC1C;&#xBC1C;&#xD300;
              p.text_main
                | &#xB370;&#xC774;&#xD130;&#xBCA0;&#xC774;&#xC2A4; &#xAC1C;&#xBC1C;,
                br
                | &#xC11C;&#xBC84;(CentOS/Node.js)
                br
                | &#xAC1C;&#xBC1C; &#xD30C;&#xD2B8; &#xBAA8;&#xC9D1;
              p.month 2018.04 ~ 
              p.deadline &#xB9C8;&#xAC10; 00&#xC77C;&#xC804;
          | &#x9;&#x9;&#x9;
          .section
            img(src='images/designteam.png', width='251px', height='227px')
            | &#x9;&#x9;&#x9;&#x9;
            .section_text
              p.text_title &#xD64D;&#xBCF4;&#xB514;&#xC790;&#xC778;&#xD300;
              p.text_main
                | &#xBE0C;&#xB79C;&#xB4DC; &#xB9C8;&#xCF00;&#xD305; &#xBC0F;
                br
                | &#xCEE4;&#xBBA4;&#xB2C8;&#xCF00;&#xC774;&#xC158; &#xC804;&#xB7B5;&#xD30C;&#xD2B8; &#xBAA8;&#xC9D1;
              p.month 2018.04 ~ 
              p.deadline &#xB9C8;&#xAC10; 00&#xC77C;&#xC804;
          | &#x9;&#x9;&#x9;
          .section
            img(src='images/teams.png', width='251px', height='227px')
            | &#x9;&#x9;&#x9;&#x9;
            .section_text
              p.text_title &#xC0C1;&#xC2DC;&#xBAA8;&#xC9D1;
              p.text_main &#xC9C1;&#xAD70;&#xBCC4; &#xC778;&#xC7AC;&#xD480; &#xB4F1;&#xB85D;
              p.month 2018.04 ~ 
              p.deadline &#xB9C8;&#xAC10; 00&#xC77C;&#xC804;
          | &#x9;&#x9;&#x9;
          .section
            img(src='images/videoteam.png', width='251px', height='227px')
            | &#x9;&#x9;&#x9;&#x9;
            .section_text
              p.text_title &#xAD11;&#xACE0;&#xC601;&#xC0C1;&#xD300;
              p.text_main
                | &#xAD11;&#xACE0;&#xC74C;&#xC545;(&#xC791;&#xACE1;/&#xD3B8;&#xACE1;),
                br
                | &#xAD11;&#xACE0;&#xC601;&#xC0C1;(&#xCD2C;&#xC601;/&#xD3B8;&#xC9D1;) &#xD30C;&#xD2B8; &#xBAA8;&#xC9D1;
              p.month 2018.04 ~ 
              p.deadline &#xB9C8;&#xAC10; 00&#xC77C;&#xC804;
          | &#x9;&#x9;&#x9;
          .section
            img(src='images/videoteam.png', width='251px', height='227px')
            | &#x9;&#x9;&#x9;&#x9;
            .section_text
              p.text_title &#xAD11;&#xACE0;&#xC601;&#xC0C1;&#xD300;
              p.text_main
                | &#xAD11;&#xACE0;&#xC74C;&#xC545;(&#xC791;&#xACE1;/&#xD3B8;&#xACE1;),
                br
                | &#xAD11;&#xACE0;&#xC601;&#xC0C1;(&#xCD2C;&#xC601;/&#xD3B8;&#xC9D1;) &#xD30C;&#xD2B8; &#xBAA8;&#xC9D1;
              p.month 2018.04 ~ 
              p.deadline &#xB9C8;&#xAC10; 00&#xC77C;&#xC804;
          | &#x9;&#x9;&#x9; 
          .clearfix
      | &#x9;
      .finder
        .bar
        | &#x9;&#x9;
        .ball
      | &#x9;
      p.incruit_text &#xC791;&#xC740;&#xC568;&#xBC94;
      | &#x9;
      .album
        button#prev(type='button')
          img(src='images/prev.png')
        | &#x9;&#x9;
        button#next(type='button')
          img(src='images/next.png')
        | &#x9;&#x9;
        ul.photos
          li.photo
            img(src='images/album1.png', width='373.22px', height='271.16px')
            | &#x9;&#x9;&#x9;&#x9;
            img(src='images/album2.png', width='373.22px', height='271.16px')
            | &#x9;&#x9;&#x9;&#x9;
            img(src='images/album3.png', width='373.22px', height='271.16px')
      | &#x9;
      script(src='https://code.jquery.com/jquery-3.3.1.min.js')
      | &#x9;
      script(src='js/scriptSmall.js')
