extends layout

block content
  doctype html
  html
    head
      meta(charset='utf-8')
      | &#x9;
    body
      .introduce_photo
      | &#x9;
      p.introduce_title We are small society
      | &#x9;
      .introduce_main
        span.introduce_top
          | &#xC791;&#xC740;&#xC0AC;&#xD68C;&#xB294;
          hr(width='150px', color='#C9E7DF')
        | &#x9;&#x9;
        .introduce_middle
          .introduce_middle_paragraph
            p.paragraph_bold &#xAC01;&#xC790;&#xC758; &#xC0DD;&#xAC01;&#xACFC; &#xAC10;&#xC815;&#xC744; &#xC6B0;&#xB9AC;&#xC758; &#xACBD;&#xD5D8;&#xC73C;&#xB85C; &#xB9CC;&#xB4DC;&#xB294; &#xACF3;&#xC785;&#xB2C8;&#xB2E4;.
            | &#x9;&#x9;&#x9;&#x9;
            p.paragraph_light &#xC77C;&#xC0C1;&#xC5D0; &#xB290;&#xAF08;&#xB358; &#xC5B4;&#xB5A4; &#xAC1C;&#xC778;&#xC801;&#xC778; &#xAC10;&#xC815;&#xB4E4;&#xC744; &#xBAA8;&#xC784; &#xC548;&#xC5D0;&#xC11C; &#xB098;&#xB215;&#xB2C8;&#xB2E4;.
          | &#x9;&#x9;&#x9;
          .introduce_middle_paragraph
            p.paragraph_bold &#xB098;&#xC640; &#xC6B0;&#xB9AC;, &#xADF8;&#xB9AC;&#xACE0; &#xC6B0;&#xB9AC;&#xAC00; &#xD3C9;&#xC18C; &#xC6D0;&#xD558;&#xB358; &#xAC83;&#xC5D0; &#xB300;&#xD574; &#xD559;&#xC2B5;&#xD558;&#xB294; &#xACF3;&#xC785;&#xB2C8;&#xB2E4;.
            | &#x9;&#x9;&#x9;&#x9;
            p.paragraph_light &#xC791;&#xC740;&#xC0AC;&#xD68C;&#xB294; &#xB098;, &#xADF8;&#xB9AC;&#xACE0; &#xC6B0;&#xB9AC;&#xAC00; &#xD3C9;&#xC18C; &#xAC08;&#xB9DD;&#xD588;&#xB358; &#xAC83;&#xC5D0; &#xB300;&#xD574; &#xD559;&#xC2B5;&#xD558;&#xB294; &#xACF3;&#xC785;&#xB2C8;&#xB2E4;. &#xAC19;&#xC740; &#xAD00;&#xC2EC;&#xC0AC;&#xB97C; &#xAC00;&#xC9C4; &#xC0AC;&#xB78C;&#xB4E4; &#xC548;&#xC5D0;&#xC11C; &#xC790;&#xC720;&#xB86D;&#xAC8C; &#xC18C;&#xD1B5;&#xD569;&#xB2C8;&#xB2E4;.
          | &#x9;&#x9;&#x9;
          .introduce_middle_paragraph
            p.paragraph_bold &#xC6B0;&#xB9AC;&#xC758; &#xACBD;&#xD5D8;&#xC744; &#xD1A0;&#xB300;&#xB85C; &#xC138;&#xC0C1;&#xC744; &#xBCC0;&#xD654;&#xC2DC;&#xD0A4;&#xB294; &#xACF3;&#xC785;&#xB2C8;&#xB2E4;.
            | &#x9;&#x9;&#x9;&#x9;
            p.paragraph_light &#xC6B0;&#xB9AC;&#xC758; &#xACBD;&#xD5D8;&#xC740; &#xC138;&#xC0C1;&#xC744; &#xBCC0;&#xD654;&#xC2DC;&#xD0A4;&#xB294;&#xB370;&#xC5D0; &#xAE30;&#xC5EC;&#xD560; &#xAC83;&#xC785;&#xB2C8;&#xB2E4;.
        | &#x9;&#x9;
        .introduce_bottom
          p &#xC791;&#xC740;&#xC0AC;&#xD68C;&#xB294; &#xD604;&#xC7AC; &#xC791;&#xC740;&#xC0AC;&#xC0C9;, &#xC791;&#xC740;&#xC608;&#xC220;, &#xC791;&#xC740;&#xC601;&#xC0C1; &#xC138;&#xBAA8;&#xC784;&#xC744; &#xC6B4;&#xC601;&#xD558;&#xACE0; &#xC788;&#xC2B5;&#xB2C8;&#xB2E4;.
          | &#x9;&#x9;&#x9;
          p &#xC601;&#xD63C;&#xC758; &#xD48D;&#xC131;&#xD55C; &#xC131;&#xC7A5;&#xACFC; &#xC18C;&#xD1B5;&#xC744; &#xC704;&#xD55C; &#xC704; &#xBAA8;&#xC784;&#xB4E4;&#xC744; &#xD1B5;&#xD574;
          | &#x9;&#x9;&#x9;
          p &#xC880; &#xB354; &#xB098;&#xC740; &#xC138;&#xC0C1;&#xC758; &#xAC00;&#xCE58;&#xB97C; &#xC2E4;&#xD604;&#xD558;&#xB294; &#xAC83;&#xC774; &#xC791;&#xC740;&#xC0AC;&#xD68C;&#xC758; &#xC9C0;&#xD5A5;&#xC810;&#xC785;&#xB2C8;&#xB2E4;.
      | &#x9;
      .introduce_main
        span.introduce_top HISTORY
